* text=auto eol=lf

*.conf text eol=lf
*.html text eol=lf
*.ini text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.php text eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
bin/console text eol=lf
composer.lock text eol=lf merge=ours

*.ico binary
*.png binary


/.github export-ignore
/tests export-ignore
/_iam/tests export-ignore
/tools export-ignore
/src/DataFixtures export-ignore

.dockerignore export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.env.test export-ignore
compose.override.yaml export-ignore
compose.prod.yaml export-ignore
compose.yaml export-ignore
deploy.php export-ignore
Dockerfile
ecs.php export-ignore
phparkitect export-ignore
phparkitect-baseline export-ignore
phpunit.xml.dist export-ignore
psalm.xml.dist export-ignore
psalm-baseline.xml export-ignore
rector.php export-ignore
