/.github export-ignore
/tests export-ignore
/_iam/tests export-ignore
/tools export-ignore

.gitattributes
.gitignore
.env.test
deploy.php
ecs.php
phpunit.xml.dist
psalm.xml
psalm-baseline.xml
rector.php