<?xml version="1.0"?>
<psalm
    errorLevel="1"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    findUnusedBaselineEntry="true"
    findUnusedCode="false"
    errorBaseline="psalm-baseline.xml"
    cacheDirectory="var/cache_tools/psalm"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="_iam/src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>

    </projectFiles>

    <issueHandlers>
        <UnusedClass>
            <errorLevel type="suppress">
                <file name="src/Controller/**/*Controller.php" />
                <file name="src/Command/**/*Command.php" />
                <file name="src/Repository/**/*Repository.php" />
            </errorLevel>
        </UnusedClass>
        <PossiblyUnusedParam>
            <errorLevel type="suppress">
                <directory name="src/Repository" />
            </errorLevel>
        </PossiblyUnusedParam>
        <PossiblyUnusedMethod>
            <errorLevel type="suppress">
                <referencedMethod name="*::__construct" />
                <directory name="src/Repository" />
            </errorLevel>
        </PossiblyUnusedMethod>
    </issueHandlers>

    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
        <pluginClass class="Psalm\SymfonyPsalmPlugin\Plugin">
            <containerXml>var/cache/dev/App_KernelDevDebugContainer.xml</containerXml>
        </pluginClass>
    </plugins>
</psalm>

