{% extends 'layout-base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/tbs-532/dist/css_custom/homepage.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body_class %}class="d-flex h-100 text-center text-bg-dark"{% endblock %}

{% block body %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">oe-modules.com</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
{#                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>#}
{#                    <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>#}
                    <a class="nav-link fw-bold py-1 px-0" href="https://marketplace.oe-modules.com/en/contact">Contact</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <h1>Auth service</h1>
{#            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>#}
            <p class="lead">
                <a href="{{ path('app_login') }}" class="btn btn-lg btn-light fw-bold border-white bg-white">Log In</a>
            </p>
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Made by <a href="https://github.com/zerai/" class="text-white">@Z</a>.</p>
        </footer>
    </div>
{% endblock %}